.TopContainer {
    background-color: #e4f9f5;
    padding: 100px;
    padding-bottom: 0;
    position: relative;
}

.MiddleContainer {
    padding: 100px 0;}

.BottomContainer {
    background-color:#66BFBF; 
    padding: 50px 0 20px;
}

body {
    margin: 0;
    color: #40514e;
    text-align: center;
    font-family: 'Merriweather', serif;


}

a{
     text-decoration: none;
     margin: 10px;
     font-family: 'Merriweather', serif;
}

.copyright{
    color: #eaf6f6;
    font-size: 0.75rem;
}

h1 {
    width: 40%;
    margin: 0 auto;
    font-size: 5.2rem;
    font-family: 'Sacramento', sans-serif;
    color: #66BFBF
}

.top-Cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.BottomCloud {
    position: absolute;
    left: 300px;
    bottom: 300px
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 2.5rem;
    padding-bottom: 10px;
    color: #66BFBF
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999e
}
.message{
    margin-bottom: 50px;
}

.Skills-row {
    width: 50%;
    margin: 100px auto;
    margin-bottom: 100px;
    text-align: left;
    line-height: 2;
}

.computer-img{
    width: 25%;
    border-radius: 50%;
    float: right;
    margin-left: 30px;
}
.chilli-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999b);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999b);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999b);
    background-image: -o-linear-gradient(top, #11cdd4, #11999b);
    background-image: linear-gradient(to bottom, #11cdd4, #11999b);
    -webkit-border-radius: 13;
    -moz-border-radius: 13;
    border-radius: 13px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 50px;
  }
  
  .btn:hover {
    background: #30e3ce;
    background-image: -webkit-linear-gradient(top, #30e3ce, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3ce, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3ce, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3ce, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3ce, #2bc4ad);
    text-decoration: none;
  }
hr{
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
     
}